<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="../public/stylesheets/style.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <title></title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #398c36;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="#">FPS</a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/presenca/add">Presença</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/caderneta/add">Caderneta</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/protocolo">Protocolo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/locais">Locais</a>
                </li>
              </ul>

            </div>
        </nav>
        <div class="container">
            
            
            <% if(action == 'add') { %>

            <div class="mb-3">
                <div class="imgz">
                    <img src="http://localhost:3000/images/fpsiconvan.png" class="rounded mx-auto d-block" height="125" width="125" alt="zzz">
                    <h2 class="text-center mt-3 mb-3"><%= title %></h2>
                </div>
            </div>
            <div class="card">

                <div class="card-header">Insersão de matricula Caderneta</div>
                <div class="card-body">
                    <form method="POST" action="/caderneta/add_sample_data">
                        <div class="container">

                                <div class="mb-3">
                                    <label>Matrícula:</label>
                                    <input type="number" name="first_name" id="first_name" class="form-control" value='' />
                                </div>

                        </div>

                        
                        <div class="col text-center">
                            <div class="mb-3">
                                <a href="" onclick="this.href='/caderneta/add/'+document.getElementById('first_name').value" class="btn btn-success"  >Realizar Pesquisa</a>
                
                                <!--<input type="submit" name="submit_button" class="btn btn-primary" value="Salvar" />-->
                            </div>
                        </div>

                    </form>

                </div>
                
            </div>

            <% } else if(action == 'add2') { %>
                <div class="mb-3">
                    <div class="imgz">
                        <img src="http://localhost:3000/images/fpsiconvan.png" class="rounded mx-auto d-block" height="125" width="125" alt="zzz">
                    </div>
                </div>
                <div class="card">
    
                    <div class="card-header">Insersão de matricula</div>
                    <div class="card-body">
                        <form method="POST" action="/caderneta/add_sample_data">
                            <div class="container">
    
                                    <div class="mb-3">
                                        <label>Matrícula:</label>
                                        <input type="number" name="first_name" id="first_name" class="form-control form-control-lg" value='<%= sampleData.CPF %>'  readonly />
                                    </div>
    
                            </div>
    
    
                            <div class="container">
                                <label>Local:</label>
                                <div class="mb-3">                           
                                        <input type="text" name="autocomplete_search_name" id="autocomplete_search" class="form-control form-control-lg" placeholder="Digite o nome da rota aqui" value="" required />
                                        <span id="search_result"></span>
                                </div>
                    
    
                            </div>
                            <div class="col text-center">
                            <button type="submit" id="submit" class="btn btn-success" >SALVAR DADOS</button>  
                            </div>    
                          


                            <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
                            -->
                            <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                    <button type="button" class="close" onclick="$('#exampleModal').modal('hide')" aria-label="Close" >
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form>
                                      <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Matrícula:</label>
                                        <input type="text" name="namename" class="form-control" id="recipient-name" readonly>
                                      </div>

                                      <div class="form-group">
                                        <label for="recipient-rota" class="col-form-label">Rota:</label>
                                        <input type="text" name="rotaname"class="form-control" id="recipient-rota" readonly>
                                      </div>
                                      <div class="form-group">
                                        <label for="recipient-nrota" class="col-form-label">Número de rota:</label>
                                        <input type="text" name="nrotaname" class="form-control" id="recipient-nrota" readonly>
                                      </div>
                                      <div class="form-group">
                                        <label for="message-text" class="col-form-label">Curso do aluno: </label>
                                        <textarea class="form-control" name="cursoname" id="message-text"  readonly></textarea>
                                      </div>
                                      <div class="form-group">
                                        <label for="recipient-per" class="col-form-label">Periodo:</label>
                                        <input type="text" name="pername" class="form-control" id="recipient-per" readonly>
                                      </div>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" onclick="$('#exampleModal').modal('hide');">Editar</button>
                                    <input type="submit" name="submit_button" class="btn btn-success" value="Salvar" />
                                  </div>
                                </div>
                              </div>
                            </div>
    
                        </form>
    
                    </div>
                    
                </div>
            <% } else if(action == 'edit') { %>
            <div class="card">
                <div class="card-header">Edição de Dados</div>
                <div class="card-body">
                    <form method="POST" action="/caderneta/edit/<%= sampleData.id %>">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>NOME DA ROTA</label>
                                    <input type="text" name="first_name" id="first_name" class="form-control" value="<%= sampleData.first_name %>" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>CÓDIGO DA ROTA</label>
                                    <input type="number" name="age" id="age" class="form-control" value="<%= sampleData.age %>" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>ESTADO DA ROTA</label>
                                    <select name="gender" id="gender" class="form-control">
                                        <option value="Ativado">Ativado</option>
                                        <option value="Desativado">Desativado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="submit_button" class="btn btn-primary" value="SALVAR ALTERAÇÕES" />
                        </div>
                    </form>
                    <script>
                    document.getElementById('gender').value="<%= sampleData.gender %>";
                    </script>
                </div>
            </div>

            <% } else { %>
                <%if(message.length > 0) {%>
                <div class="alert alert-success">
                    <%=message%>
                </div>
                <%}%>
            <div class="imgz">
                <img src="http://localhost:3000/images/fpsiconvan.png" class="rounded mx-auto d-block" height="125" width="125" alt="zzz">
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">Lista de matricula</div>
                        <div class="col">
                            <a href="/caderneta/add" class="btn btn-success btn-sm float-end">Criar Nova Rota</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Nome da Rota</th>
                                <th>Código da Rota</th>
                                <th>Estado da rota</th>
                                <th>Ações</th>
                            </tr>
                            <%
                            if(sampleData.length > 0)
                            {
                                sampleData.forEach(function(data){
                            %>
                            <tr>
                                <td><%= data.first_name %></td>
                                <td><%= data.age %></td>
                                <td><%= data.gender %></td>
                                <td>
                                    <a href="/caderneta/edit/<%= data.id %>" class="btn btn-primary btn-sm">Editar</a>
                                    <a href="/caderneta/delete/<%= data.id %>" class="btn btn-danger btn-sm">Deletar</a>
                                </td>
                            </tr>
                            <%
                                });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">Nenhum dado Encontrado</td>
                            </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>

            <% } %>

        </div> 

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script>
            code=0
            console.log("<%= sampleData.estudante %>")
            $(function () {
                $('#submit').click(function (e) {
                    e.preventDefault();
                    var value = document.getElementById('autocomplete_search').value.length
                    console.log('value lenght',document.getElementById('autocomplete_search').value.length)
                    if (value!=0) {
                        console.log('deuif')
                        $("#exampleModal").modal('show');
                    }else{
                        console.log('deu else')
                        document.getElementById("autocomplete_search").focus();

                        
                    }
                });
            });


            $('#exampleModal').on('show.bs.modal', function (event) {
                console.log('modal')
                periodovar="<%= sampleData.PERIODO %>"

                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('Confirme as informações de recebimeto ')
                modal.find('.modal-body input').val("<%= sampleData.NOME %>")
                modal.find('.modal-body textarea').val("<%= sampleData.CURSO %>")
                modal.find('.modal-body #recipient-rota').val(document.getElementById('autocomplete_search').value.toUpperCase())
                modal.find('.modal-body #recipient-nrota').val(rr)
                modal.find('.modal-body #recipient-per').val("<%= sampleData.PERIODO %>")
            })
            

        </script>
        <script>
            rotasnumber=0
            rr=0800
            function load_data(query = '')
            {
                fetch('/get_data?search_query='+query+'').then(function(response){
        
                    return response.json();
        
                }).then(function(responseData){
        
                    var html = '<ul class="list-group">';
                    console.log("%%%%%%%%%%%%",responseData)
                    if(responseData.length > 0)
                    {
                        for(var count = 0; count < responseData.length; count++)
                        {
                            var regular_expression = new RegExp('('+query+')', 'gi');
                            
                            rotasnumber=responseData
                            html += '<a href="#" class="list-group-item list-group-item-action" onclick="get_text(this,rotasnumber)">'+responseData[count].Local.replace(regular_expression, '<span class="text-primary fw-bold">$1</span>',rr=responseData[count].Rota)+'</a>';
                            //html2 += '<a href="#" class="list-group-item list-group-item-action" onclick="get_text(this)">'+responseData[count].Rota.replace(regular_expression, '<span class="text-primary fw-bold">$1</span>')+'</a>';
                        }
                    }
                    else
                    {
                        html += '<a href="#" class="list-group-item list-group-item-action disabled">No Data Found</a>';
                        //html2 += '<a href="#" class="list-group-item list-group-item-action disabled">No Data Found</a>';
                    }
        
                    html += '</ul>';
        
                    document.getElementById('search_result').innerHTML = html;
   
        
                });
            }


            var search_element = document.getElementById("autocomplete_search");
        
            search_element.onkeyup = function(){
        
                var query = search_element.value;
        
                load_data(query);
        
            };
        
            search_element.onfocus = function(){
        
                var query = search_element.value;
        
                load_data(query);
        
            };
        
            function get_text(event,rotasnumber)
            {
          
                var Local = event.textContent;
        
                console.log(Local);
        
                document.getElementById('autocomplete_search').value = Local;
                document.getElementById("autocomplete_search").focus();
                //console.log("&&&&&&&&&&gettext",rotasnumber[i])
                //console.log(rr)
        
                document.getElementById('search_result').innerHTML = '';
            }
        
        </script>
    </body>
</html>