<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="../public/stylesheets/style.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title></title>
    </head>
    <body>


        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #398c36;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="#">FPS</a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/presenca/add">Presença</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/caderneta/add">Caderneta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/protocolo">Protocolo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/locais">Locais</a>
                </li>
              </ul>

            </div>
        </nav>
        <div class="container">
            
            <div class="mb-3">
                <div class="imgz">
                    <img src="http://localhost:3000/images/fpsiconvan.png" class="rounded mx-auto d-block" height="125" width="125" alt="zzz">
                    <h2 class="text-center mt-3 mb-3"><%= title %></h2>
                </div>
            </div>
            
            <% if(action == 'add') { %>

            <div class="card">
                <div class="card-header">Insersão de Locais</div>
                <div class="card-body">
                    <form method="POST" action="/locais/add_sample_data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Nome Da Rota</label>
                                    <input type="text" name="first_name" id="first_name" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Código Da Rota</label>
                                    <input type="number" name="age" id="age" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Status da Rota</label>
                                    <select name="gender" id="gender" class="form-control">
                                        <option value="Ativado">Ativado</option>
                                        <option value="Desativado">Desativado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="submit_button" class="btn btn-success" value="Criar Nova Rota" />
                        </div>
                    </form>
                </div>
            </div>

            <% } else if(action == 'edit') { %>
            <div class="card">
                <div class="card-header">Edição de Dados</div>
                <div class="card-body">
                    <form method="POST" action="/locais/edit/<%= sampleData.Local %>">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>NOME DA ROTA</label>
                                    <input type="text" name="first_name" id="first_name" class="form-control" value="<%= sampleData.Local %>" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>CÓDIGO DA ROTA</label>
                                    <input type="number" name="age" id="age" class="form-control" value="<%= sampleData.Rota %>" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>ESTADO DA ROTA</label>
                                    <select name="gender" id="gender" class="form-control">
                                        <option value="Ativado">Ativado</option>
                                        <option value="Desativado">Desativado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="submit_button" class="btn btn-success" value="SALVAR ALTERAÇÕES" />
                        </div>
                    </form>
                    <script>
                    document.getElementById('gender').value="<%= sampleData.Em_Atividade %>";
                    </script>
                </div>
            </div>

            <% } else { %>
                <%if(message.length > 0) {%>
                <div class="alert alert-success">
                    <%=message%>
                </div>
                <%}%>

            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col"> Lista de Locais</div>
                        <div class="col">
                            <a href="/locais/add" class="btn btn-success btn-sm float-end">Criar Nova Rota</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Nome da Rota</th>
                                <th>Código da Rota</th>
                                <th>Estado da rota</th>
                                <th>Ações</th>
                            </tr>
                            <%
                            console.log('invicible',sampleData)
                            console.log('check', typeof(sampleData))
                            console.log('keys', Object.keys(sampleData).length)
                            console.log('*********lets see...',sampleData.length)
                            //var objdata = Object.keys(sampleData)
                            //console.log("/*////////////////////////////////",typeof(objdata,objdata.length,"$$$$$$",objdata)
                            if(sampleData.length > 0)
                            {
                                sampleData.forEach(function(data){
                            %>
                            <tr>
                                <td><%= data.Local %></td>
                                <td><%= data.Rota %></td>
                                <td><%= data.Em_Atividade %></td>
                                <td>
                                    <a href="/locais/edit/<%= data.Local %>" class="btn btn-primary btn-sm">Editar</a>
                                    <a href="/locais/delete/<%= data.Local %>" class="btn btn-danger btn-sm">Deletar</a>
                                </td>
                            </tr>
                            <%
                                });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">Nenhum dadossss Encontrado</td>
                            </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>

            <% } %>

        </div> 

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

            <!--end of Navigation bar-->
    </body>
</html>